<form [formGroup]='authForm' (ngSubmit)="onSubmit()">
  <div class="my-4">
    <h3 class="font-weight-normal text-center">Please Sign In</h3>
  </div>

  <div *ngIf="!isCorrect" class="alert alert-danger">Username or password is not correct.</div>

  <mat-form-field class="w-100 my-2">
    <input matInput type="text" formControlName='username' placeholder="Username" required>
    <mat-error>
      Username is required.
    </mat-error>
  </mat-form-field>

  <mat-form-field class="w-100 my-2">
    <input matInput type="password" formControlName='password' placeholder="Your Password" required>
    <mat-error>
      Password is required.
    </mat-error>
  </mat-form-field>

  <button type="submit" [disabled]="!authForm.valid" class="btn btn-success btn-block my-3">Sign In </button>

  <div class="mt-2 text-center">
    <p>Do not have a account? <a routerLink="/signup">Sign Up</a> </p>
  </div>

</form>